<!DOCTYPE html>
<html>
<head>
    <title>Register Face</title>
</head>
<body>

    <h2>Register Face</h2>

    <form
        action="/registered"
        method="POST"
        enctype="multipart/form-data"
    >
        <label>Name:</label>
        <input
            type="text"
            name="name"
            required
        >

        <br><br>

        <label>I consent to the storage and processing of my biometric data:</label>
        <input
            type="checkbox"
            name="consent"
            required
        >

        <br><br>

        <label>Face image:</label>
        <input
            type="file"
            name="image"
            accept="image/*"
            required
        >

        <br><br>

        <button type="submit">
            Register
        </button>
    </form>

    <br>
    
    <button type="button"
        onclick="window.location.href='/'">
        Home
    </button>

</body>
</html>